
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(135deg,#ff9ecb,#ffcce6);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;
}

/* PAGE */
.page{
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:90%;
    max-width:650px;
    min-height:85vh; /* biar gak naik ke atas */
    animation: fade 0.6s ease;
}

.page.active{
    display:flex;
}

@keyframes fade{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

/* TEXT */
h1{
    font-size:38px;
    margin-bottom:25px;
    color:#fff;
}

h2{
    font-size:26px;
    margin:20px 0;
    color:#fff;
}

.typewriter{
    font-size:24px;
    line-height:1.6;
    color:white;
    white-space:pre-wrap;
    margin-bottom:25px;
}

/* BUTTON */
button{
    padding:15px 35px;
    border:none;
    border-radius:40px;
    cursor:pointer;
    font-size:20px;
    margin:12px;
    color:white;
    background: linear-gradient(135deg,#ff4da6,#ff99dd);
    box-shadow:0 8px 25px rgba(255,0,150,0.35);
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 12px 30px rgba(255,0,150,0.5);
}

.btn-group{
    display:flex;
    gap:30px;
    justify-content:center;
}

/* GIF */
.biggif{
    width:240px;
    display:block;
    margin:25px auto;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

/* FOTO */
.bigphoto{
    width:260px;
    border-radius:25px;
    margin-bottom:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

/* ALBUM */
.album{
    width:170px;
    border-radius:20px;
    margin:15px 0;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.spin{
    animation: spin 3s linear infinite;
}

@keyframes spin{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

/* TEXTAREA */
textarea{
    width:100%;
    height:130px;
    border-radius:20px;
    padding:18px;
    font-size:18px;
    border:none;
    outline:none;
    resize:none;
    margin-top:15px;
}

textarea::placeholder{
    color:#999;
}

/* SUBMIT */
.submitBtn{
    margin-top:20px;
    background: linear-gradient(135deg,#ff66cc,#ff99dd);
}